<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/css/header-style.css">
    <link rel="stylesheet" href="public/css/pictures-style.css">
    <link rel="stylesheet" href="public/css/global-style.css">
  </head>
 <%- include('./includes/header.ejs') %>
	<body>
    <% if(data.pictures.length === 0) { %>
    <p>Currently there are no pictures. Upload a picture.</p>
    <% } %>

		<section>
    <% for(let item of data.pictures) { %>
        <div class="picture-container">
          <h2><%= item.title %></h2>
          <img src="<%= item.url %>"></img>
          <div class="comments-container ">
            <button class="comment-visibility">hide comments</button>
            <ul class="comments">
            <%  for(let c of data.comments) { %>
              <% if(c.id === item.title) { %>
                <li class="comment"><%= c.comment %></li>
                  <% } %>
              <% } %>
            </ul> 
            <form action="/admin/add-comment" method="POST" >
              <textarea name="comment" id="comment" cols="40" rows="5"></textarea>
              <input type="hidden" value="<%= item.title %>" name="pictureId"/>
              <button class="add">add</button>
            </form>
          </div>
        </div>
        <% } %>
    </section>
	</body>
</html>

<script>
  const commentsButtonElements = document.querySelectorAll('.comment-visibility');
  
  commentsButtonElements.forEach( commentsBtnEl => {
    const commentsEl = commentsBtnEl.nextElementSibling;
    commentsEl.style.display = 'block';

    function toggleCommentsVisibility(){
      commentsEl.style.display = commentsEl.style.display === 'none' ? 'block' : 'none';
      commentsBtnEl.innerText = commentsBtnEl.innerText === 'show comments' ? 'hide comments' : 'show comments';
    }

    commentsBtnEl.addEventListener('click', toggleCommentsVisibility);
   });
</script>
